# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379

#Instagram credentials
INSTAGRAM_LOGIN=your_instagram_login
INSTAGRAM_PASSWORD=your_instagram_password

#Telegram credentials
TELEGRAM_TOKEN=your_telegram_bot_token
TELEGRAM_CHANNEL_ID=-your_telegram_chat_id

