{% extends "base.html" %}

{% block title %}Look Hub{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/frontend/static/css/index.css">
{% endblock %}

{% block content %}
<h1 class="visually-hidden">Look Hub Main</h1>
<section class="banner">
    <h2 class="visually-hidden">Look Hub Banner</h2>
    <div class="banner__body">
        <div class="banner__info">
            LOOK HUB- это
            <h3>Стильные образы, модная одежда и любимые магазины</h3>
            Проходи и выбирай свой образ!
        </div>
    </div>
</section>
<section class="looks container">
    <h2 class="visually-hidden">Looks cards</h2>
    <ul class="looks__cards" id="looks-list">
        <!-- Карточки будут подгружаться динамически -->
    </ul>
</section>
{% endblock %}

{% block extra_js %}
<script src="/frontend/static/js/index.js"></script>
{% endblock %} 
